<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GaraUI.Properties.Settings.QUAN_LY_GARA_OTOConnectionString"
            connectionString="Data Source=VEN\VEN;Initial Catalog=&quot;QUAN LY GARA OTO&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>